body {
    margin: 0px;
    font-size: 14px;
    color: white;
}

.container {
    width: 100%;
    background: url('../images/backgorund.png') no-repeat;
    background-size: contain;
}


.btn-direct {
    text-decoration: none;
    color: white;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 18px;

    
    .header-elem {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }

    .header-elem-2 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

.company-sign {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;

    .logo {
        height: 40px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.tab {
    display: flex;
    gap: 20px;

    & > input[type=radio] {
        display: none;
    }

}


.profile {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.cips {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    
    .chips {
        align-items: center;
        display: flex;
        gap: 10px;
        border: 1px solid rgb(255,255,255);
        border-radius: 23px;
        
        .div-btn-text {
            text-align: center;
        }
    }
}

.auth {
    display: flex;
    flex-wrap: nowrap;

    .auth-img {
        width: 18px;
        height: 18px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


// header-elem-2
.list-choice {
    display: flex;
    list-style-type: none;
    gap: 10px;
    padding: 0px;
    
    // .list-element:not(:last-child)::after {
    //     content: " | ";
    // }
}

.navigation {
    display: flex;
    gap: 10px;
}