@font-face {
  font-family: 'TTSFirsNeue';
  src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TTSFirsNeue';
  src: url("../fonts/TTFirsNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'TTSFrisNeue';
  src: url("../fonts/TTFirsNeue-DemiBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }
body {
  margin: 0px;
  font-family: 'TTSFirsNeue';
  font-size: 14px;
  color: white; }

.container {
  width: 100%;
  background: url("../images/backgorund.png") no-repeat;
  background-size: contain; }

.btn-direct {
  text-decoration: none;
  color: white; }

.main-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; }
  .main-header .header-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0px 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .main-header .header-elem-2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }

.tab-logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  flex: 1; }
  .tab-logo .logo {
    height: 40px; }
    .tab-logo .logo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.tab {
  display: flex;
  gap: 24px;
  padding: 27px 0px;
  align-items: center;
  justify-content: first baseline;
  flex: 1; }
  .tab input[type=radio] {
    display: none; }
    .tab input[type=radio]:checked + label {
      position: relative;
      font-weight: 500;
      color: white;
      opacity: 100%; }
      .tab input[type=radio]:checked + label::before {
        content: "___";
        position: absolute;
        bottom: -150%;
        left: 50%;
        line-height: 20px; }
  .tab label {
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8); }
  .tab .br {
    color: rgba(255, 255, 255, 0.2); }

.profile {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px; }

.cips {
  display: flex;
  max-height: 32px;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center; }
  .cips .chips {
    display: flex;
    gap: 8px;
    max-height: 24px;
    padding: 8px 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 23px; }
    .cips .chips .logo-white, .cips .chips .logo-telegram {
      width: 24px;
      height: 24px; }
      .cips .chips .logo-white img, .cips .chips .logo-telegram img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.auth {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }
  .auth .auth-img {
    width: 18px;
    height: 18px; }
    .auth .auth-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.div-btn {
  text-align: center; }

.list-choice {
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding: 0px; }

.navigation {
  display: flex;
  gap: 10px; }

/*# sourceMappingURL=style.css.map */
